<h2>Lista de Ciudades</h2>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Ciudad</th>
			<th>País</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let city of cities">
			<td>{{ city.city_id }}</td>
			<td>{{ city.city_name }}</td>
			<td>{{ city.country_name }}</td>
			<td>
				<button (click)="editCity(city)">Editar</button>
				<button (click)="deleteCity(city.city_id)">Eliminar</button>
			</td>
		</tr>
	</tbody>
</table>

<button (click)="createCity()">Crear Ciudad</button>
